# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# IDE
.DS_Store
.idea

# frontend
build

# Dependency directories
node_modules/
.npmrc


# Yarn Integrity file
.yarn-integrity

# dotenv environment variables file
.env
.env.test

# parcel-bundler cache (https://parceljs.org/)
.cache

# Next.js build output
.next
